@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-principal: #000000;
    --cor-secundaria:#fffffff1;
    --cor-terciaria: #a300fc;
    --cor-hover: #6f268d;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;

}
.conteudo-secao {
    display: none;
}

*{
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

#cursor {
    display: inline-block;
    width: 3px; /* Ajuste conforme necessário */
    height: 40px; /* Ajuste conforme necessário */
    background-color: var(--cor-hover);
    animation: blinkCursor 0.5s infinite;
    margin-left: -12px; /* Ajuste para reduzir a margem direita */
    margin-bottom: -3px;
}

@keyframes blinkCursor {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.menu-toggle {
    display: none; /* Inicialmente, oculta o botão de menu em telas maiores */
    background: none;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--cor-terciaria);
    margin: 5px 0;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: color 0.3s ease; /* Adiciona uma transição suave para a cor */
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
    text-shadow: 0 0 30px var(--cor-hover);
}

.titulo-destaque{
    color: var(--cor-terciaria);
    
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.5rem;
    font-family: var(--fonte-primaria);
    
}
.apresentacao__conteudo__texto_2{
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);

}
.apresentacao__conteudo__nome {
    font-size: 2.5rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}
.nome-branco {
    font-size: 2.5rem;
    font-family: var(--fonte-primaria);
    color: white;
}

.nome-azul {
    font-size: 2.5rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}



.apresentacao__links{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    width: 50%;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição suave para a cor de fundo e texto */
}

.apresentacao__links__navegacao:hover {
    
    color: var(--cor-terciaria);
    border: 2px solid var(--cor-secundaria);
    animation: pulse 0.5s infinite alternate; /* Animar a sombra pulsante */
}

@keyframes pulse {
    from {
        box-shadow: 0 0 10px var(--cor-hover);
    }
    to {
        box-shadow: 0 0 8px var(--cor-terciaria)
    }
}
    



.apresentacao__links__navegacao:hover .imgt {
    filter: sepia(100%) saturate(1734%) hue-rotate(288deg);
    
}

.apresentacao__links_subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}






.rodape {
    padding: 24px;
    text-align: center;
    color: var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.rodape__logo {
    width: 30%;
    height: auto;
    margin-right: 100px; /* Ajuste a margem para adicionar um pequeno espaço à direita da imagem */
}

.texto {
    text-align: center;
    color: var(--cor-principal);
}

.apresentacao__imagem{
    width: 42%;
    margin: 5% 0% 0% 0%;
    padding: 1%;
    height: auto;
}

.form{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.form label{
    font-size: 1.6rem;
    margin-bottom: 8px;
    font-family: var(--fonte-secundaria);
}
.form input{
    height: 25%;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
}
.form input, .form textarea{
    background-color: transparent;
    border: 2px solid var(--cor-terciaria);
    border-radius: 12px;
    padding: 9px;
    margin-bottom: 24px;
    font-family: var(--fonte-secundaria);
    color: #ff4f66;
}

.form input:focus, .form textarea:focus{
    border: 2px solid #ffffff;

}
.form button{
    height: 40px;
    background-color: var(--cor-terciaria);
    color: #000000;
    border: none;
    border-radius: 12px;
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
}

.form button:hover{
    background-color: var(--cor-secundaria);
    color: #000000;
    
}



@media (max-width: 1500px){ /* Tamanho de tela abaixo de 1500px*/

    .apresentacao__imagem{
        width: 42%;
        margin: 7% 0% 0% 0%;
        padding: 1%;
        height: auto;
    }
    

    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .form label{
        font-size: 1.6rem;
        margin-bottom: 8px;
        font-family: var(--fonte-secundaria);
    }
    .form input{
        height: 25%;
        color: var(--cor-terciaria);
        font-family: var(--fonte-secundaria);
    }
    .form input, .form textarea{
        background-color: transparent;
        border: 2px solid var(--cor-terciaria);
        border-radius: 12px;
        padding: 9px;
        margin-bottom: 24px;
        font-family: var(--fonte-secundaria);
        color: #ff4f66;
    }
    
    .form input:focus, .form textarea:focus{
        border: 2px solid #ffffff;
    
    }
    .form button{
        height: 40px;
        background-color: var(--cor-terciaria);
        color: #000000;
        border: none;
        border-radius: 12px;
        font-family: var(--fonte-secundaria);
        font-size: 1.2rem;
    }
    
    .form button:hover{
        background-color: var(--cor-secundaria);
        color: #000000;
        
    }

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    width: 58%;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição suave para a cor de fundo e texto */
}
}

@media (max-width: 1020px){ /* Tamanho de tela abaixo de 1020px*/

   
    .apresentacao__imagem{
        width: 56%;
        margin: 0% 0% 0% 0%;
        padding: 1%;
        height: auto;
    }
    
    .apresentacao{
        padding: 5%;
        flex-direction: column-reverse; 
    }
    .apresentacao__conteudo{
        width: 75%;
    }

    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .form label{
        font-size: 1.6rem;
        margin-bottom: 8px;
        font-family: var(--fonte-secundaria);
    }
    .form input{
        height: 100%;
        color: var(--cor-terciaria);
        font-family: var(--fonte-secundaria);
    }
    .form input, .form textarea{
        background-color: transparent;
        border: 2px solid var(--cor-terciaria);
        border-radius: 12px;
        padding: 9px;
        margin-bottom: 24px;
        font-family: var(--fonte-secundaria);
        color: #ff4f66;
    }
    
    .form input:focus, .form textarea:focus{
        border: 2px solid #ffffff;
    
    }
    .form button{
        height: 40px;
        background-color: var(--cor-terciaria);
        color: #000000;
        border: none;
        border-radius: 12px;
        font-family: var(--fonte-secundaria);
        font-size: 1.2rem;
    }
    
    .form button:hover{
        background-color: var(--cor-secundaria);
        color: #000000;
        
    }

    .cabecalho{
        padding: 8%;
    }
    .cabecalho__menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background-color: var(--cor-principal);
        z-index: 1;
        margin: 0;
        padding: 0; /* Removido o espaçamento interno */
    }

  

    .apresentacao__conteudo__titulo{
        font-size: 2.1rem;
        font-family: var(--fonte-primaria);
    }

    .apresentacao__links__navegacao {
        display: flex;
        justify-content: center;
        gap: 16px;
        border: 2px solid var(--cor-terciaria);
        text-align: center;
        width: 55%;
        border-radius: 8px;
        font-size: 1.4rem;
        padding: 21px 0;
        text-decoration: none;
        color: var(--cor-secundaria);
        font-weight: 600;
        font-family: var(--fonte-secundaria);
        transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição suave para a cor de fundo e texto */
    }

    .menu-toggle {
        display: block; /* Mostra o botão de menu em telas menores */
    }

    
    .cabecalho__menu__link {
        padding: 0px 0px;
        text-align: center;
        font-family: var(--fonte-secundaria);
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--cor-terciaria);
        text-decoration: none;
        transition: color 0.3s ease;
        margin: 0; /* Remover margem para eliminar qualquer espaço extra */
        line-height: 1; /* Definir a altura da linha para minimizar espaçamentos */
    }

    .cabecalho__menu__link:not(:last-child) {
        margin-bottom: -27px; /* Ajuste o espaçamento vertical entre os elementos, exceto para o último */
    }

    .cabecalho__menu__link:hover {
        color: var(--cor-hover);
        text-shadow: 0 0 30px var(--cor-hover);
    }

    .cabecalho__menu.show-menu {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        padding-bottom: 40px;
    }


}

@media (max-width: 550px){  /*tamanho de tela abaixo de 500px*/

    .apresentacao__imagem{
        width: 66%;
        margin: 0% 0% 0% 0%;
        
        height: auto;
    }
    
    .apresentacao{
        padding: 5%;
        flex-direction: column-reverse; 
    }
    .apresentacao__conteudo{
        width: 80%;
    }

    .form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .apresentacao__conteudo__titulo{
        font-size: 1.7rem;
        font-family: var(--fonte-primaria);
    }
    
    .apresentacao__conteudo__texto{
        font-size: 1.2rem;
        font-family: var(--fonte-secundaria);
    
    }
    .apresentacao__conteudo__nome {
        font-size: 1.7rem;
        font-family: var(--fonte-primaria);
        color: var(--cor-terciaria);
    }
    .nome-branco {
        font-size: 2.5rem;
        font-family: var(--fonte-primaria);
        color: white;
    }
    
    .nome-azul {
        font-size: 2.5rem;
        font-family: var(--fonte-primaria);
        color: var(--cor-terciaria);
    }

    .apresentacao__links_subtitulo{
        font-family: var(--fonte-primaria);
        font-weight: 400;
        font-size: 1.2rem;
    }

.apresentacao__links{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    width: 70%;
    border-radius: 7px;
    font-size: 1.2rem;
    padding: 18px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição suave para a cor de fundo e texto */
}

.rodape {
    padding: 15px;
    text-align: center;
    color: var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.1rem;
    font-weight: 400;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.rodape__logo {
    width: 35%;
    height: auto;
    margin-right: 1%; /* Ajuste a margem para adicionar um pequeno espaço à direita da imagem */
}

.texto {
    text-align: center;
}

}